:host {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  padding: 10px;
  width: 70%;
  margin: auto;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  & > div {
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    & > h2 {
      width: 100%;
    }
    grid-gap: 20px;
    gap: 20px;
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    & > input {
      flex: 1;
      padding: 20px;
      border-radius: var(--standard-border-radius);
      max-width: 300px;
      background-color: transparent;
      color: var(--text_highlight);
      padding-left: 20px;
      font-size: x-large;
      border: 2px solid var(--accent);
    }

    &.hidden {
      & > .button {
        opacity: 0.4;
        background-color: transparent;
        border-color: var(--red);
        color: var(--text_highlight);
      }
    }
    & > div {
      transition: opacity 0.2s;
      background-color: var(--text_highlight);
      border: 3px solid var(--text_highlight);
      border-radius: var(--standard-border-radius);
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.2s;
      box-sizing: border-box;
      color: var(--accent);
      &:hover {
        color: var(--text_highlight);
        background-color: transparent;
      }
    }
    & > .results {
      text-align: left;
      word-break: break-word;
      width: 100%;
      gap: 6px;
      font-family: monospace;
      display: flex;
      flex-direction: column;
    }
  }
  & > #tor {
    span {
      max-width: 1000px;
      margin: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      b {
        width: 50%;
      }
      a {
        margin: auto;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}
